{
      "arrowParens": "always",
      "semi": false,
      "trailingComma": "none",
      "tabWidth": 6,
      "endOfLine": "auto",
      "useTabs": false,
      "singleQuote": true,
      "printWidth": 140,
      "jsxSingleQuote": true
}
